.card1
{
    background-color: #049588;
    width: 100%;
    height: 100%;
    color: white;
}

.logo img{
    height: 100px;
    width: 100px;
}

body
{
    font-size: 1rem;
}
 nav i{
    margin-left: 30px;
}

nav  .BB{
    background-color:#ff9800;
    border-radius:8px;
    color: white;
}

.btn{
    background-color:#F84434;
    border-radius:8px;
    color: white;
}

 .card2{
    background-color: #049588;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: white;
 }
.card3{
    border: 1px solid  #049588 ;
    border-radius: 5px;
    width: 100%;
    height: 100%; 
}
.img{
    width: 50px;
    filter: invert(100%) sepia(0%) saturate(1689%) hue-rotate(300deg) brightness(99%) contrast(99%);
}
.bg{
    background-color: #F84434;
}
.D1{
border: 1px solid #F84434;
border-radius: 10px;
}
.D2{
    border: 1px solid #049588;
    border-radius: 10px;
}
.D3{
    border: 1px solid #ff9800;
    border-radius: 10px;
}
.D4{
    border: 1px solid #049588;
    border-radius: 10px;
}
.im1{
    filter: invert(32%) sepia(68%) saturate(3261%) hue-rotate(344deg) brightness(107%) contrast(95%);
}
.im2{
    filter: invert(38%) sepia(85%) saturate(1846%) hue-rotate(148deg) brightness(87%) contrast(97%);
}
.im3{
    filter: invert(79%) sepia(63%) saturate(5153%) hue-rotate(360deg) brightness(101%) contrast(110%); 
}
.im4{
    filter: invert(38%) sepia(85%) saturate(1846%) hue-rotate(148deg) brightness(87%) contrast(97%);
}
 svg{
     background-color: #F84434;
 }
.ligne0{
    width: 100%;
} 
.ligne{
    padding-left: 150px;
}
.ligne div{
    width: 15rem; margin: 10px;
}
.ligne div img{
    margin-top: 18px;
}
 
    .bg2{
      background-color: #F84434;
    }


.bg p{
    color: white;
    padding-left: 50px;
}
.bg h4{
    color: white;
}
.bg2 h1{
 color: white; margin-left: 20px
}
.mere{
    background-color:azure;
  
}
.raw1{
    color:white;
}

footer{
    background-color: #049588;
    height: auto;
}

